
/*********************brand-logo part Start******************************************/
.brand-logo {
	background:#eeeeee; padding:15px 0 15px 0; margin-top:20px;
	.a { margin-top:10px;}
	.c { margin-top:5px;}
}

/*********************brand-logo part Start******************************************/
