/*********************Fresh-roast part Start******************************************/
.fresh-roast {
	background:url(../images/image1.jpg) no-repeat center top; height:274px;
	.box {background:url(../images/roast-back.png) repeat left top; margin-top:11px; padding-bottom:10px; }
	h3 { font-size:33px; color:#fff; text-transform:uppercase;  font-family: 'Open Sans'; font-weight:bold;}
	p { font-size:14px; color:#fff; font-family: 'Open Sans'; }
	span { font-size:14px; transition:background 1s; color:#fff; font-family: 'Open Sans'; display:inline-block; padding:6px 12px; background:#e15b23; color:#fff; }
	span:hover {background:#bf4410; cursor:pointer;}
}
/*********************Fresh-roastt part Start******************************************/