

.container {width:1170px; margin:0 auto ; }

/*********************Header part Start******************************************/
	.top-border {
		height:30px; background:#d8d8d8;
		.right ul {
			margin-left:105px;
			li{
				float:left;padding:5px 10px 5px 20px;
				&:nth-child(1){background:url(../images/accoutn.png) no-repeat 5px center; background-color:#e15b23; color:#fff;}
				&:nth-child(2){background:url(../images/wishlist.png) no-repeat 5px center; }
				&:nth-child(3){background:url(../images/buy.png) no-repeat 3px center;}
				&:nth-child(4){background:url(../images/checklist.png) no-repeat 5px center; }
			}
		}

		.left ul li{
			display:inline-block; padding:0px 10px; margin-top:5px; font-family: 'MYRIADPROREGULAR'; font-size:13px; color:#444444;
			&:first-child, &:nth-child(2) {border-right:1px solid #444444;}
		}
	}	
	
	
	
	.header {
		.login{
			ul li {
				display:inline-block; font-size:14px; font-family: 'MYRIADPROREGULAR'; padding:3px 5px 3px 15px;
				&:nth-child(1){background:url(../images/lock.png) no-repeat left center;}
				&:nth-child(2){background:url(../images/register.png) no-repeat left center; margin-left:5px;}
			}
			
			form{
				input {float:left;}
				input[type=submit] {height: 33px; margin-left: -35px; width: 30px; border:none;}
				input[type=text] {width:100%; padding:5px;}
				input.submit {background:url(../images/search.png) no-repeat center center; text-indent:-9999px;}
			}
		} 
		
		.shopping {
			padding-top:25px;
			ul li { 
				float:left; font-size:13px; color:#737373;
				span {font-size:17px; color:#fff;}
				&:nth-child(1) { width:35%;}
				img {  border-right:1px solid #fff; padding-right:15px;}
			}
			 
		}
		

	}
	.navbar ul li.house {padding:8px !important;}


/*********************Header part Start******************************************/

/*********************Banner part Start******************************************/
.banner {
	height:325px;
	.background {position:relative !important; width:100%; margin:auto; }
	.background  img.banner-bg {position:absolute; z-index:-2; width: 100%;}
	ul.slides li { padding-top:70px;}
	h4 {font-size:22px; color:#e15b23; text-transform:uppercase; font-weight:bold;}
	h3 {font-size:28px; color:#fff; text-transform:uppercase; font-weight:bold; line-height:35px;}
	p {font-size:13px; color:#fff;}
	ul.slides li.slide1 {height:330px;}
	ul.buyy li {
		padding-top:10px; float:left; color:#fff; 
		&:nth-child(1){padding:5px 10px; font-size:22px; background:#e15b23; transition:background 1s;}
		&:nth-child(1):hover{padding:5px 10px; font-size:22px; background:#96370f; cursor:pointer;}
		&:nth-child(2){padding:10px 10px 9px 45px;font-size:16px; background:#383838 url(../images/banner-buy.png) no-repeat 5px 10px;transition:background 1s;} 
		&:nth-child(2):hover{background:#070707 url(../images/banner-buy.png) no-repeat 5px 10px; cursor:pointer;}
	}
	
}
.map1 {height:370px}
.flexslider {border:none !important; background:none !important;}



/*********************Banner part Start******************************************/

/*********************Product part Start******************************************/
.product {
	margin-top:30px; height:430px;
	.container {overflow:hidden;}
	h3 {font-size:20px; color:#e15b23; text-transform:uppercase; }
	.border {border:1px solid #ebebeb; padding-bottom:25px; padding-top:20px; height:350px;}
	.pro {  margin-bottom:10px;}
	p {font-size:14px; color:#452c1c; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold;}
	.star {margin-top:-12px;}
	p.rate {color:#ff2424;}
	span {display:inline-block; transition:background 1s; font-size:14px; background:#663d23 url(../images/cart-icon.png) no-repeat 5px center; color:#fff; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold; padding:6px 10px 6px 30px;}
	span:hover { background:#411a01 url(../images/cart-icon.png) no-repeat 5px center; cursor:pointer;}
}

/*********************Product part Start******************************************/

/*********************Fresh-roast part Start******************************************/
.fresh-roast {
	background:url(../images/image1.jpg) no-repeat center top; height:274px;
	.box {background:url(../images/roast-back.png) repeat left top; margin-top:11px; padding-bottom:10px; }
	h3 { font-size:33px; color:#fff; text-transform:uppercase;  font-family: 'Open Sans'; font-weight:bold;}
	p { font-size:14px; color:#fff; font-family: 'Open Sans'; }
	span { font-size:14px; transition:background 1s; color:#fff; font-family: 'Open Sans'; display:inline-block; padding:6px 12px; background:#e15b23; color:#fff; }
	span:hover {background:#bf4410; cursor:pointer;}
}
/*********************Fresh-roastt part Start******************************************/


/*********************Product part Start******************************************/
.fea-product {
	margin-top:30px; position:relative; height:430px;
	.container {overflow:hidden;}
	h3 {font-size:20px; color:#e15b23; text-transform:uppercase; }
	.border {border:1px solid #ebebeb; padding-bottom:25px; padding-top:20px; height:350px;}
	.pro {  margin-bottom:10px;}
	p {font-size:14px; color:#452c1c; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold;}
	.star {margin-top:-12px;}
	p.rate {color:#ff2424;}
	span {display:inline-block;  transition:background 1s; font-size:14px; background:#663d23 url(../images/cart-icon.png) no-repeat 5px center; color:#fff; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold; padding:6px 10px 6px 30px;}
	.new {position:absolute; left: 185px; top: 10px;}
	span:hover { background:#411a01 url(../images/cart-icon.png) no-repeat 5px center; cursor:pointer;}
}

/*********************Product part Start******************************************/

/*********************brand-logo part Start******************************************/
.brand-logo {
	background:#eeeeee; padding:15px 0 15px 0; margin-top:20px;
	.a { margin-top:10px;}
	.c { margin-top:5px;}
}

/*********************brand-logo part Start******************************************/

/********************Welcome-logo part Start******************************************/
.footer {color:#fff; background:#452c1c;}
.welcome {
	margin-top:20px; 
	.container {overflow:hidden;}
	h3 {font-size:22px; text-transform:uppercase; margin-bottom:10px;}
	img {margin-top:5px;}
	p {font-size:13px;font-family: 'Open Sans'; line-height:16px; }
	hr {border-top:1px solid #5f402c; border-bottom:1px solid #23150c; padding-bottom:0px !important;}
	.foot {
		margin-top:5px; margin-bottom:5px;
		p {margin-top:10px;}
	}
}





/*********************Welcome-logo part Start******************************************/

/*********************Customer part Start******************************************/
.customer-service { 
	background:#452c1c; margin-top:-20px;
	h3 {font-size:16px; text-transform:uppercase; margin-bottom:10px; color:#e15b23;}
	ul li a {transition:color ease 0.5s; font-size:13px;font-family: 'Open Sans'; line-height:16px; color:#fff; background: url(../images/arrow.png) no-repeat left center; padding-left:15px; }
	ul li a:hover {color:#c69271; }
	form input {float:left;}
	form input[type=submit] {height: 33px; width: 30%; border:none; background:#e15b23; transition:background 1s;}
	form input[type=text] {width:70%; padding:6px 6px 7px 6px; border:none; color:#6b6b6b;}
	ul.social li a { padding:0px !important; background:none !important;}
	ul.social li {display:inline-block;}
	ul.social li img {transition: all ease-out 0.4s; transform:rotate(0deg); border-radius:50%;}
	ul.social li img:hover { transform:rotate(360deg);}
	form input[type=submit]:hover { background:#bf4410; }
	.map {margin-top:30px;}
}


/*********************Customer page Close ******************************************/

/*********************Footer page Start ******************************************/
.footer .bottom-footer p { margin-left:5px; margin-top:3px; color:#fff; font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
/*********************Footer page Close ******************************************/
