
/* Sujan Manandhar
Web Developer*/



	#home, #about-us, #products, #recipies,#testimonial,#terms,#contact-us {background:url(../images/header-back.png) repeat-x left 30px;}

	ul li {list-style: none;}

	.container {
		width:1170px;
		margin:0 auto ;
	}
 
                  

	#home .navbar ul li.home a.hvr-shutter-in-vertical:before,
	#about-us .navbar ul li.about-us a.hvr-shutter-in-vertical:before,
	#products .navbar ul li.products a.hvr-shutter-in-vertical:before,
	#recipies .navbar ul li.recipies a.hvr-shutter-in-vertical:before,
	#testimonial .navbar ul li.testimonial a.hvr-shutter-in-vertical:before,
	#terms .navbar ul li.terms a.hvr-shutter-in-vertical:before,
	#contact-us .navbar ul li.contact-us a.hvr-shutter-in-vertical:before {
		position:inherit;
	}
	.navbar ul li a:hover {background:#e15b23;}
	
	

  
  /* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background: #e15b23;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #452c1c;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
	.navbar ul li a {
		color: #fff;
		font-family: 'Open Sans';		
		font-size: 15px;
		padding:10px 30px 10px 30px;
		text-transform: uppercase;
	}
	.navbar {margin-bottom: 0px !important; min-height: 0px !important; background:#452c1c; margin-top:18px;	}
	.navbar-static-top { border-width: 0 0 0 !important;}

	
	
	
/*********************Header part Start******************************************/
	.top-border {height:30px; background:#d8d8d8;}	
	.top-border .left ul li{display:inline-block; padding:0px 10px; margin-top:5px; font-family: 'MYRIADPROREGULAR'; font-size:13px; color:#444444;}
	.top-border .left ul li:first-child, .top-border .left ul li:nth-child(2) {border-right:1px solid #444444;}
	.top-border .right ul {margin-left:105px;}
	.top-border .right ul li {float:left;padding:5px 10px 5px 20px;}
	.top-border .right ul li:nth-child(1){background:url(../images/accoutn.png) no-repeat 5px center; background-color:#e15b23; color:#fff;}
	.top-border .right ul li:nth-child(2){background:url(../images/wishlist.png) no-repeat 5px center; }
	.top-border .right ul li:nth-child(3){background:url(../images/buy.png) no-repeat 3px center;}
	.top-border .right ul li:nth-child(4){background:url(../images/checklist.png) no-repeat 5px center; }
	
	.header .login ul li {display:inline-block; font-size:14px; font-family: 'MYRIADPROREGULAR'; padding:3px 5px 3px 15px;}
	.header .login ul li:nth-child(1){background:url(../images/lock.png) no-repeat left center;}
	.header .login ul li:nth-child(2){background:url(../images/register.png) no-repeat left center; margin-left:5px;}
	
	.header .login form input {float:left;}
	.header .login form input[type=submit] {height: 33px; margin-left: -35px; width: 30px; border:none;}
	.header .login form input[type=text] {width:100%; padding:5px;}
	.header .login form input.submit {background:url(../images/search.png) no-repeat center center; text-indent:-9999px;}
	.header .shopping ul li { float:left; font-size:13px; color:#737373;}
	.header .shopping ul li span {font-size:17px; color:#fff;}
	.header .shopping ul li:nth-child(1) { width:35%;}
	.header .shopping ul li img {  border-right:1px solid #fff; padding-right:15px;}
	.header .shopping ul li:nth-child(2) {}
	.header {padding-top:20px;}
	.header .shopping {padding-top:25px;}
	.navbar ul li.house {padding:8px !important;}
/*********************Header part Start******************************************/

/*********************Banner part Start******************************************/
.banner {height:325px;}
.map1 {height:370px}
.banner .background {position:relative !important; width:100%; margin:auto; }
.flexslider {border:none !important; background:none !important;}
.banner .background  img.banner-bg {position:absolute; z-index:-2; width: 100%;}
.banner ul.slides li { padding-top:70px;}
.banner h4 {font-size:22px; color:#e15b23; text-transform:uppercase; font-weight:bold;}
.banner h3 {font-size:28px; color:#fff; text-transform:uppercase; font-weight:bold;}
.banner h3 {font-size:28px; color:#fff; text-transform:uppercase; font-weight:bold; line-height:35px;}
.banner p {font-size:13px; color:#fff;}

.banner ul.slides li.slide1 {height:330px;}
.banner ul.buyy li {padding-top:10px; float:left; color:#fff; }
.banner ul.buyy li:nth-child(1){padding:5px 10px; font-size:22px; background:#e15b23; transition:background 1s;}
.banner ul.buyy li:nth-child(1):hover{padding:5px 10px; font-size:22px; background:#96370f; cursor:pointer;}
.banner ul.buyy li:nth-child(2){padding:10px 10px 9px 45px;font-size:16px; background:#383838 url(../images/banner-buy.png) no-repeat 5px 10px; transition:background 1s;}
.banner ul.buyy li:nth-child(2):hover{background:#070707 url(../images/banner-buy.png) no-repeat 5px 10px; cursor:pointer;}

/*********************Banner part Start******************************************/

/*********************Product part Start******************************************/
.product {margin-top:30px; height:430px;}
.product .container {overflow:hidden;}
.product h3 {font-size:20px; color:#e15b23; text-transform:uppercase; }
.product .border {border:1px solid #ebebeb; padding-bottom:25px; padding-top:20px; height:350px;}
.product .pro {  margin-bottom:10px;}
.product p {font-size:14px; color:#452c1c; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold;}
.product .star {margin-top:-12px;}
.product p.rate {color:#ff2424;}
.product span {display:inline-block; transition:background 1s; font-size:14px; background:#663d23 url(../images/cart-icon.png) no-repeat 5px center; color:#fff; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold; padding:6px 10px 6px 30px;}
.product span:hover { background:#411a01 url(../images/cart-icon.png) no-repeat 5px center; cursor:pointer;}
/*********************Product part Start******************************************/

/*********************Fresh-roast part Start******************************************/
.fresh-roast {background:url(../images/image1.jpg) no-repeat center top; height:274px;}
.fresh-roast .box {background:url(../images/roast-back.png) repeat left top; margin-top:11px; padding-bottom:10px; }
.fresh-roast h3 { font-size:33px; color:#fff; text-transform:uppercase;  font-family: 'Open Sans'; font-weight:bold;}
.fresh-roast p { font-size:14px; color:#fff; font-family: 'Open Sans'; }
.fresh-roast span { font-size:14px; transition:background 1s; color:#fff; font-family: 'Open Sans'; display:inline-block; padding:6px 12px; background:#e15b23; color:#fff; }
.fresh-roast span:hover {background:#bf4410; cursor:pointer;}


/*********************Fresh-roastt part Start******************************************/


/*********************Product part Start******************************************/
.fea-product {margin-top:30px; position:relative; height:430px;}
.fea-product .container {overflow:hidden;}
.fea-product h3 {font-size:20px; color:#e15b23; text-transform:uppercase; }
.fea-product .border {border:1px solid #ebebeb; padding-bottom:25px; padding-top:20px; height:350px;}
.fea-product .pro {  margin-bottom:10px;}
.fea-product p {font-size:14px; color:#452c1c; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold;}
.fea-product .star {margin-top:-12px;}
.fea-product p.rate {color:#ff2424;}
.fea-product span {display:inline-block;  transition:background 1s; font-size:14px; background:#663d23 url(../images/cart-icon.png) no-repeat 5px center; color:#fff; text-transform:uppercase; font-family: 'Open Sans'; font-weight:bold; padding:6px 10px 6px 30px;}
.fea-product .new {position:absolute; left: 185px; top: 10px;}
.fea-product span:hover { background:#411a01 url(../images/cart-icon.png) no-repeat 5px center; cursor:pointer;}
/*********************Product part Start******************************************/

/*********************brand-logo part Start******************************************/
.brand-logo {background:#eeeeee; padding:15px 0 15px 0; margin-top:20px;}
.brand-logo .a { margin-top:10px;}
.brand-logo .c { margin-top:5px;}
/*********************brand-logo part Start******************************************/

/********************Welcome-logo part Start******************************************/
.footer {color:#fff; background:#452c1c;}
.welcome {margin-top:20px; }
.welcome .container {overflow:hidden;}
.welcome h3 {font-size:22px; text-transform:uppercase; margin-bottom:10px;}
.welcome img {margin-top:5px;}
.welcome p {font-size:13px;font-family: 'Open Sans'; line-height:16px; }
.welcome hr {border-top:1px solid #5f402c; border-bottom:1px solid #23150c; padding-bottom:0px !important;}
/*********************Welcome-logo part Start******************************************/

/*********************Customer part Start******************************************/
.customer-service { background:#452c1c; margin-top:-20px;}
.customer-service h3 {font-size:16px; text-transform:uppercase; margin-bottom:10px; color:#e15b23;}
.customer-service ul li a {transition:color ease 0.5s; font-size:13px;font-family: 'Open Sans'; line-height:16px; color:#fff; background: url(../images/arrow.png) no-repeat left center; padding-left:15px; }
.customer-service ul li a:hover {color:#c69271; }
.customer-service form input {float:left;}
.customer-service form input[type=submit] {height: 33px; width: 30%; border:none; background:#e15b23; transition:background 1s;}
.customer-service form input[type=text] {width:70%; padding:6px 6px 7px 6px; border:none; color:#6b6b6b;}
.customer-service ul.social li a { padding:0px !important; background:none !important;}
.customer-service ul.social li {display:inline-block;}
.customer-service ul.social li img {transition: all ease-out 0.4s; transform:rotate(0deg); border-radius:50%;}
.customer-service ul.social li img:hover { transform:rotate(360deg);}
.customer-service form input[type=submit]:hover { background:#bf4410; }

/*********************Customer page Close ******************************************/

/*********************Footer page Start ******************************************/
.customer-service .map {margin-top:30px;}
.welcome .foot {margin-top:5px; margin-bottom:5px;}
.footer .bottom-footer p { margin-left:5px; margin-top:3px; color:#fff; font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
.welcome .foot p {margin-top:10px;}

/*********************Footer page Close ******************************************/
